@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, rgb(28, 2, 53), rgb(71, 6, 77), rgb(161, 23, 173));
}


 h1 {
    color:rgb(255, 255, 0);
    font-size: 40px;
    margin: 30px;
    text-align: center;
    animation: neon 3s alternate infinite ease-in-out;
    --cor--neon: #ffbe0b;
}

 @keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--cor--neon));
    }
    to {
        filter: drop-shadow(0 0 30px var(--cor--neon));
    }
}

nav{
    width: 85%;
    margin: auto;
}


.btn {
    color:rgb(255, 255, 255);
    font-size: 23px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    position: relative;
    opacity: 0.5;
    padding: 15px;
}

button:hover{
    opacity:1;
    cursor: pointer;
}

button::after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    height: 2px;
    width: 0%;
    background-color: rgb(3, 7, 238);
    transition: 0.3s;
}

.ativo {
    opacity:1;
}

button:hover::after,
.ativo::after {
    width: 100%;
    opacity:1;
}

ul {
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
    margin-top: 50px; 
    
}

#pesquisar {
    display: flex;
    align-items: center;
}

#campoPesquisar {
    background-color: rgb(30, 31, 92);
    border-radius: 15px;
    margin: 50px 10px;
    height: 40px;
    width: 250px;
    border: 3px rgb(25, 0, 255) solid;
    color:beige;
          
}

#campoPesquisar:focus{
    outline: none;
}

span.material-icons {
    font-size: 25px;
}

#botaoPesquisar, .btnVoltar {
    color: rgb(25, 0, 255);
    font-weight: bold;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    margin: 50px 0;
    height: 40px;
    width: 50px;
    border: 3px rgb(25, 0, 255) solid;
    cursor: pointer;
    
    
}

#botaoPesquisar:hover::after, .btnVoltar:hover::after {
    width:0%;
}

#botãoPesquisar, .btnVoltar{
    opacity: 1;
}

.btnVoltar {
    width: 100px;
    font-size: 15px;
}

input::placeholder, #campoFiltrar{
    color: rgb(236, 236, 236);
    text-align: center;
    font-size: 20px;
    padding: 0 10px;
}

#campoFiltrar, #curiosidade {
    background-color: rgb(94, 34, 91);
    border-radius: 15px;
    margin: 50px;
    height: 40px;
    width: 250px;
    border: 3px rgb(255, 0, 255) solid;
}

#curiosidade {
    background-color: #157777;
    border: 3px #03FDFD solid;
    color:#03FDFD;
    font-size: 25px;
    text-transform: none;
    padding: 0;
   
}


#inputs {
    display: flex;
    justify-content: space-around;
}
    
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto auto auto;
    
} 

#ordemAlfabetica {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}  
    
 
#ordemAlfabetica label {
      
    color:beige;
    font-size: 20px;
    margin-right: 20px;
    
}

.card {
     border: 3px solid rgb(255, 0, 221);
    width: 250px;
    margin: 15px;
    color:rgb(233, 233, 233);
    font-size: 20px; 
   }

.card img {
    width: 100%;
    display: block;
  }

.card span {
    width: 100%;
    text-align: center;
    background-color: #0c1618; 
    font-family: 'Carter One', cursive;
    font-weight: bold;
    font-size: 2rem;
    color: #faf4d3;
    display:block;
}

.btnFechar {
    display: block;
}

 
/* .card button {
    display: none;
} 

.cartaoAberto {
width: 500px;
height: 500px;
} 

.cartaoAberto button{
    display: block;
} */

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}





.face {
    width: 400px;
    height: 300px;
    border: 5px solid #03FDFD;
    background-color: #144444;
    color:rgb(233, 233, 233);
    text-align: center;
    border-radius: 30px;
    position: absolute; 

    
  
}

#consideracao {
    margin-top: 30px;
    font-size: 20px;
}

#descubra {
    width: 200px;
    height: 30px;
    margin-top: 50px;
    margin-right: 10px;
    background-color: #03FDFD;
    color:#144444;
    text-align: center;
    border-radius: 10px;
            
}

#descubra::after, #voltarPrincipal::after {
    display: none;
}

/* #foto {
    height: 800px;
    position: relative;
    top: -300px;
    left: 120px;
} */


h3 {
    font-size: 25px;
    margin-top: 50px;
}

.flip {
    transform: rotateY(180deg);
}

#cardCuriosidade {
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    transition: all 1s;

}
#cardCuriosidadeFrente {
    transform: rotateY(180deg);
}

#cardCuriosidadeVerso {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#resultadoMedia {
    font-size: 30px;
    
}

#voltarPrincipal {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #03FDFD;
    
    
}

#voltarPrincipal a {
    text-decoration: none;
    color: #144444;
    
}

#github {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 30px;
    font-size: 20px;
    color: rgb(247, 247, 247);
    text-align: center;
    line-height: 20px;
}

#github a {
    text-decoration: none;
    color:rgb(255, 255, 255)
    
}

#github i {
    color: #03FDFD;
    margin-left: 10px;
}




/* teste circulo rodando 

.container {
    padding: 100px;
    display: flex;
    justify-content: flex-start;
}

#image-circle {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    border-top: 2px dashed #ffcc00;
    border-right: 2px dashed red;
    border-left: 2px dashed #000000;
    border-bottom: 2px dashed blue;
    padding: 10px;
    animation: spin 10s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
} 

*/